doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   p This is kar performing indentation
   ul
     li This is kar
   input(type='text').class-name#idselector

   if condition
   h1 condtion is true
   p printing variable inside text #{title}

   p printing array values

   -var myarray=[1,2,3]
   each value in myarray
    p=value

   block content
